.idea/
.git/
*.xml
*.scss
*.ts
*.log
*.pot
*.pyc
*.pyi
__pycache__/
__pypackages__/
venv
local_settings.py
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.py[cod]
*$py.class

*.so

.env
# db.sqlite3
db.sqlite3-journal

# pyenv
.python-version

.DS_Store

.gitignore

node_modules
sneat-bootstrap-html-admin-template-free/
package-lock.json
webpack.config.js
*.lock
*.ts
*.sh
*.txt
!requirements.txt
package*.json
