.idea/
.vscode/
.ruff_cache/
*.xml
*.log
*.pot
*.pyc
*.txt

!requirements.txt
!/templates/robots.txt

*/migrations/*
!*/migrations/__init__.py
!*/migrations/0001_initial.py

__pycache__/
__pypackages__/
media/
venv/
node_modules/
sneat-bootstrap-html-admin-template-free/
local_settings.py
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.py[cod]
*$py.class

*.so

.env
db.sqlite3
db.sqlite3-journal

# pyenv
.python-version

.DS_Store

install.sh

*.lock
*.d.ts
