@import "./variables";
@import "./demo";
@import "../../../sneat-bootstrap-html-admin-template-free/scss/core";
@import "../../../sneat-bootstrap-html-admin-template-free/scss/theme-default";
@import "../../../node_modules//toastr/toastr";

.space-nowrap {
  white-space: nowrap;
}

.custom-option {
  padding-left: 0;
  border: 1px solid #d9dee3;
  border-radius: 0.5rem;
}

.custom-option-basic .custom-option-content {
  padding: 1em;
  padding-left: 2.7em;
}

.readonly-input {
  background: #eceef0;
}
