{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-wide"
  dir="ltr"
  data-theme="theme-default"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <title>403</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

      <link rel="stylesheet" href="{% static "unauthenticated/style.css" %}" />
  </head>

  <body>
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">
          {% trans "Forbidden" %}
        </h2>
        <p class="mb-4 mx-2">
          {% trans "You do not have access to this page." %}
        </p>
        <a href="{% url "unauthenticated:signin" %}" class="btn btn-primary">
          {% trans "Back to home" %}
        </a>
        <div class="mt-3">
          <img
            src="{% static "images/404.png" %}"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="{% static "images/404.png" %}"
            data-app-light-img="{% static "images/404.png" %}" />
        </div>
      </div>
    </div>
  </body>
</html>

